
.dashboard-grid {
    width: 90vw;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
  }
  
  .dashboard-grid .box{
    width: 45vw;
    min-height: 40vh;
    text-align: center;
  }
  
  
  